{% extends "layout.html" %}

{% block content %}

{% include 'list.html' %}
<nav>
    <ul class="pager">
        {% if page_id == 1 %}
            <li><a href="" class="btn btn-lg disabled">First</a></li>
        {% else %}
            <li><a href="/page/{{ page_id - 1 }}" class="btn btn-lg">Previous</a></li>
        {% endif %}
        {% if page_id == page_count %}
            <li><a href="" class="btn btn-lg disabled">Next</a></li>
        {% else %}
            <li><a href="/page/{{ page_id + 1 }}" class="btn btn-lg">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}