{% extends "layout.html" %}

{% block content %}

{% for post in posts %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>

    <p class="blog-post-meta">{{ post.created_at }}</p>

    <div class="blog-content">{{ post.text }}</div>
</div>
{% endfor %}

<nav>
    <ul class="pager">
        {% if page_id == 1 %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% else %}
        <li class="previous "><a href="/page/{{ page_id - 1 }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}

        {% if page_id == page_count %}
        <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        <li class="next"><a href="/page/{{ page_id + 1 }}">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}