{% extends "layout.html" %}

{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>

    <p class="blog-post-meta">{{ post.created_at }}</p>

    <div class="blog-content">{{ post.text }}</div>
</div>

<div class="blog-comment">
    <div class="comment-list">
        {% include "comment.html" %}
    </div>

    <div class="comment-form">
        {% include "comment_form.html" %}
    </div>
</div>
{% endblock %}


{% block form %}
<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script language="JavaScript">
$(function(){
	$("#comment-form").ajaxForm(function(res) {
	    $(".comment-list").append(res);
	});
})
</script>
{% endblock %}