{% extends "layout.html" %}

{% block content %}

<div class="blog-post">
    <h2 class="blog-post-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>

    <p class="blog-post-meta">{{ post.created_at }}</p>

    <div>{{ post.text }}</div>
</div>

<div class="blog-comment">
    {% for comment in comments %}
    <div class="comment-item">
        <div class="comment-info">
            <span><a href="{{ comment.url }}">{{ comment.user }}</a></span>
            <span><small>{{ comment.created_at }}</small></span>
        </div>

        <h4>
            <small>{{ comment.text }}</small>
        </h4>
    </div>

    {% endfor %}

    <div class="comment-form">
        {% include "comment_form.html" %}
    </div>
</div>

{% endblock %}